<div class="columns project-info">
  <div class="column is-6 project-image">
    <%= image_tag @current_project.logo, style: "width: 100%;" %>
  </div>
  <div class="column is-4 project-description is-offset-1">
    <div style="height: calc(15px + 1vw)" class="blank columns"></div>
    <div style="display: inline" class="column is-8 is-offset-3">
      <div class="next-project">
        <span class="previous"><%= link_to 'previous', portfolio_path(@current_project.id - 1) %></span>
        <span>&nbsp; | &nbsp; </span>
        <span class="next"><%= link_to 'next', portfolio_path(@current_project.id + 1) %></span>
      </div>
      
    </div>
    <div class="blank columns"></div>
    <div class="columns">
      <div class="column is-12">
        <div class="columns  project-title">PROJECTS: <%=@current_project.title.upcase%></div> <br>
        <div class="columns  project-description"><%= @current_project.description.html_safe %></div>
      </div>
    </div>
    
  </div>
</div>
<div class="blank columns"></div>
<div style="display: flex; justify-content: center;" class="columns">
  <%= image_tag "double_divine.svg" %>
</div>

<div style="height: calc(15px + 1vw)" class="blank columns"></div>

<div style="display: flex; justify-content: center;" class="columns project-title">SHOWCASE</div>
<div class="blank columns"></div>

<%= image_tag @current_project.showcase_img %>
<% if @current_project.title == "others" %>
<div class="black-bg">
  <div class="blank columns"></div>
  
  <%= video_tag "cuisinian_video.mp4", autoplay: true, controls: true  %>
  <div class="blank columns"></div>
  <%= video_tag "dou_video.mp4", autoplay: false, controls: true %>
  <div class="blank columns"></div>
  <div class="blank columns"></div>
</div>
<div class="blank columns"></div>
<%= image_tag "thanks_img.png" %>
<% end %>