<!DOCTYPE html>
<html>
<head>
  <title>MyWeb</title>
  
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="fade-in" >
  
  <% if session[:seen] != true %>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-4by3">
        <%= image_tag "modal.svg" %>
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <% end %>
  
  <% session[:seen] = true %>
  
  <nav class="nav">
    <div class="nav-left navbar-logo">
      <%= link_to image_tag("logo.svg"), root_path %>
    </div>
    
    
    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    
    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu is-marginless">
      <%= link_to "my Resume", resume_index_path %>
      <%= link_to "Portfolio", portfolio_path(id: 1) %>
      <%= link_to "Contact", contact_path %>
      
    </div>
  </nav>
  
  <div class="columns is-centered">
    <div class="column is-8 portfolio">
      <%= yield %>
    </div>
  </div>
  
</body>
<div class="my-footer columns is-centered">
  <div  class="footer-content column is-6">
    Designed and developed by &nbsp; 
    <%=image_tag "mini_logo.svg" %>
  </div>
</div>
</html>
