<!DOCTYPE html>
<html>
<head>
  <title>MyWeb</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  
  <nav class="nav">
    <div class="nav-left navbar-logo">
        <%= link_to image_tag("logo"), root_path %>
    </div>
    
    
    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    
    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu is-marginless">
        <%= link_to "my Resume", resume_index_path %>
        <%= link_to "Portfolio", portfolio_path(id: 1) %>
        <%= link_to "Contact", portfolio_path(id: 1) %>
      
    </div>
  </nav>
  
  <div class="columns is-centered">
    <div class="column is-8 portfolio">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
