<!DOCTYPE html>
<html>
<head>
  <title>MyWeb</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="columns navbar level is-marginless">
    <div class="column is-1 navbar-logo level">
      <%= link_to image_tag("logo"), root_path %>
    </div>
    
    <div class="column is-4 is-offset-6 navbar-links">
        <div class="my-links">
          <%= link_to "my Resume", resume_index_path %>
          <%= link_to "Portfolio", portfolio_path(id: 1) %>
          <!-- <%= link_to "Blog" %> -->
          <%= link_to "Contact" %>
        </div>
    </div>
    <div class="column is-2"></div>
  </div>
  <div class="columns is-centered">
    <div class="column is-8 portfolio">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
